:root {
    --main-backgound-color: #ffffff;
    --sec-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --main-color: #2F303A;
    --dark-main-color: #212121;
    --dark-sec-color: #717171;
    --dark-add-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: var(--main-backgound-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    color: var(--main-backgound-color);
}


/* nav-links */

.nav-link {
    color: var(--dark-main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-contact {
    color: var(--dark-sec-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

a:hover,
a:focus {
    color: var(--accent-color);
}


/* logo */

.logo {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
}

.logo-accent {
    color: var(--accent-color);
}


/* Hero */

.hero {
    background-color: var(--main-color);
}

.hero-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-service {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* botton*/
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* Features */

.features {
    display: none;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-main-color);
}

.features-des {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--dark-sec-color);
}


/* What we do */

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-img {
    width: 370px;
}


/* our teame */

.team {
    background-color: var(--sec-background-color);
}

.team-pchoto {
    width: 270px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-card {
    background-color: var(--main-backgound-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-des {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-main-color);
}

.team-position {
    font-weight: 400;
    color: var(--dark-sec-color);
}


/* Footer */

.footer {
    background-color: var(--dark-main-color);
}

.logo-footer {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-backgound-color);
}

.footer-contact {
    font-style: normal;
    color: var(--dark-add-color);
}


/* portfolio.html */


/*filters*/

.filters-title {
    display: none;
}

.filters-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-main-color);
}

.filters-button:hover,
.filters-button:focus {
    background-color: var(--accent-color);
    color: var(--main-backgound-color);
}


/* portfolio */

.portfolio {
    display: none;
}

.portfolio-img {
    width: 370px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-main-color);
}

.portfolio-des {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--dark-sec-color);
}